$personal: #5CD1E3;
$personal-light: lighten($personal, 27);
$personal-superlight: lighten($personal, 33);
$personal-dark: darken($personal, 25);
$warning: #F361A6;
$warning-dark: darken($warning, 25);
$default: #E4E4E4;
$default-dark: darken($default, 25);

$border-color: #eee;
$text-black: #333;
$text-gray: #555;
$text-gray-semilight: #999;
$text-gray-light: #ccc;
$aside-width: 300px;
$top-height: 48px;

@mixin transition($transitions...) {
  -moz-transition:    $transitions;
  -o-transition:      $transitions;
  -webkit-transition: $transitions;
  transition:         $transitions;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -ms-transform:     $transform;
  transform:         $transform;
}

@mixin ellipsis {
  white-space:   nowrap;
  overflow:      hidden;
  text-overflow: ellipsis;
}

@mixin full-screen {
  position: absolute;
  left:     0;
  right:    0;
  top:      0;
  bottom:   0;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius:    $radius;
  -ms-border-radius:     $radius;
  border-radius:         $radius;
}

@mixin appearance($appearance) {
  -webkit-appearance: $appearance;
  -moz-appearance:    $appearance;
  appearance:         $appearance;
  &::-ms-expand {
    display: none;
  }
}

@mixin vertical-center {
  position: absolute;
  top:      50%;
  @include transform(translateY(-50%));
}

@mixin text-button {
  background: none;
  border: 0;
  outline: 0;
}

@mixin button {
  border: 0;
  cursor: pointer;
  @include border-radius(2px);
}

@mixin default-button {
  color: $text-gray;
  background-color: $default;
  @include button;
  &:hover {
    background-color: $default-dark;
  }
}

@mixin personal-button {
  color: #fff;
  background-color: $personal;
  @include button;
  &:hover {
    background-color: $personal-dark;
  }
}

@mixin warning-button {
  color: #fff;
  background-color: $warning;
  @include button;
  &:hover {
    background-color: $warning-dark;
  }
}

@mixin placeholder {
  &:empty:before {
    content: attr(placeholder);
    display: block;
    color: $text-gray-light;
  }
}
