@import '../../styles/mixin';
.rename-label-template {
  ul.label-list {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      font-size: 14px;
      line-height: 24px;
      position: relative;
      height: 48px;
      width: 100%;
      display: block;
      button.icon-button {
        position: absolute;
        left: 0;
        top: 8px;
        &.edit-button {
          display: none;
        }
      }
      label {
        position: absolute;
        left: 32px;
        height: 48px;
        line-height: 48px;
      }
      input {
        position: absolute;
        left: 32px;
        height: 48px;
        line-height: 48px;
        font-size: 14px;
        outline: 0;
        border: 0;
        background: none;
      }
      &:hover {
        background-color: $personal-light;
        button.icon-button.edit-button {
          display: inline-block;
        }
      }
    }
  }
}
