@import '../styles/mixin';

.main-ctrl {
  @include full-screen;
  aside {
    position: relative;
    z-index: 1;
    width: $aside-width;
    height: 100%;
    border-right: 1px solid $border-color;
    .top {
      width: 100%;
      border-bottom: 1px solid $border-color;
      height: $top-height;
    }
    .mid {
      width: 100%;
      height: calc(100% - #{$top-height});
      overflow: scroll;
      a.memo-preview {
        padding: 24px;
        display: block;
        text-decoration: none;
        @include transition(background-color 0.2s ease-out, border 0.2s ease-out);
        &:hover {
          background-color: $personal-superlight;
        }
        &.active {
          border-right: 5px solid $personal;
        }
        .memo-preview-title {
          font-size: 16px;
          height: 20px;
          margin-bottom: 4px;
          color: $text-black;
          @include ellipsis;
        }
        .memo-preview-body {
          font-size: 14px;
          color: $text-gray;
          height: 18px;
          @include ellipsis;
        }
      }
    }
  }
  .body {
    @include full-screen;
    padding-left: $aside-width;
    .top {
      width: calc(100% - 24px);
      height: calc(#{$top-height} - 16px);
      border-bottom: 1px solid $border-color;
      padding: 8px 12px;
      button.personal-button {
        height: 30px;
        line-height: 30px;
        padding: 0 12px;
        font-size: 14px;
        @include personal-button;
      }
      button.icon-button {
        display: block;
        color: $text-gray-semilight;
        font-size: 18px;
        padding: 0 8px;
        height: 30px;
        @include text-button;
        @include transition(color 0.2s ease-out);
        &:hover {
          color: $personal;
        }
      }
    }
    .mid {
      width: 100%;
      height: calc(100% - #{$top-height});
    }
  }
}
