@import '../styles/mixin';

button.personal-button {
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  font-size: 14px;
  @include personal-button;
}

button.warning-button {
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  font-size: 14px;
  @include warning-button;
}

button.icon-button {
  display: block;
  color: $text-gray-semilight;
  font-size: 18px;
  padding: 0 8px;
  height: 30px;
  cursor: pointer;
  @include text-button;
  @include transition(color 0.2s ease-out);
  &:hover {
    color: $personal;
  }
}

.main-ctrl {
  @include full-screen;
  aside {
    position: relative;
    z-index: 1;
    width: $aside-width;
    height: 100%;
    border-right: 1px solid $border-color;
    .top {
      width: 100%;
      border-bottom: 1px solid $border-color;
      height: $top-height;
      .label-select {
        position: relative;
        padding: 0 24px;
        select {
          border: 0;
          outline: 0;
          background: none;
          width: 100%;
          font-size: 14px;
          height: 48px;
          @include appearance(none);
        }
        &:after {
          font-family: 'FontAwesome';
          content: '\f107';
          position: absolute;
          top: 12px;
          right: 24px;
          color: $text-gray-semilight;
        }
      }
    }
    .mid {
      width: 100%;
      height: calc(100% - 120px);
      overflow-y: scroll;
      padding: 12px 0;
      border-bottom: 1px solid $border-color;
      p.no-memo {
        text-align: center;
        color: $text-gray;
        margin: auto;
        width: 100%;
        @include vertical-center;
      }
      a.memo-preview {
        padding: 12px 24px;
        display: block;
        text-decoration: none;
        position: relative;
        @include transition(background-color 0.2s ease-out, border 0.2s ease-out);
        &:hover {
          background-color: $personal-superlight;
        }
        &.active {
          border-right: 5px solid $personal;
        }
        &.checked:after {
          position: absolute;
          font-family: 'FontAwesome';
          content: '\f00c';
          color: $personal;
          font-size: 12px;
          right: 24px;
          bottom: 12px;
        }
        .memo-preview-title {
          font-size: 16px;
          height: 20px;
          margin-bottom: 2px;
          color: $text-black;
          @include ellipsis;
        }
        .memo-preview-body {
          font-size: 14px;
          color: $text-gray;
          height: 18px;
          margin-bottom: 4px;
          @include ellipsis;
        }
        .memo-preview-time {
          font-size: 12px;
          color: $text-gray;
        }
      }
    }
    .bot {
      height: $top-height;
      padding: 8px 24px;
    }
  }
  .body {
    @include full-screen;
    padding-left: $aside-width;
    .top {
      width: calc(100% - 24px);
      height: calc(#{$top-height} - 16px);
      border-bottom: 1px solid $border-color;
      padding: 8px 12px;
    }
    .mid {
      width: 100%;
      height: calc(100% - #{$top-height});
    }
  }
}
