@import '../../styles/mixin';

.memo-ctrl {
  padding: 24px;
  width: 100%;
  height: calc(100% - #{$top-height});
  overflow: scroll;
  input.memo-title {
    display: block;
    width: calc(100% - #{$top-height});
    border: 0;
    font-size: 36px;
    height: $top-height;
    outline: 0;
    margin-bottom: 12px;
  }
  .memo-body {
    display: block;
    width: calc(100% - #{$top-height});
    min-height: calc(100% - 94px);
    border: 0;
    outline: 0;
    font-size: 14px;
    margin-bottom: 12px;
    overflow: hidden;
    @include placeholder;
  }
  .memo-labels {
    font-size: 16px;
    outline: 0;
    width: calc(100% - #{$top-height});
    @include placeholder;
  }
}
